
*{
    margin: 0;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    background: #042331;
    display: none;
}
.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: chartreuse;
    user-select: none;
}
.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 1rem;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    transition: .4s;
}
.sidebar ul li:hover a{
    padding-left: 45px;
    text-decoration: none;
}
.sidebar ul a i{
    margin-right: 1rem;
}




